<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="container">
        <p class="display-5" th:text="${header}"></p>
        <p class="display-6" th:text="${subheader}"></p>

        <form action="QuestionnaireServlet" method="post">
            <div th:each="question: ${questions}">
                <div th:switch="${question.inputType.type}">
                    <div class="mb-3" th:case="'text'">
                        <!--/*
                        TEXT SECTION GENERATION
                        This section will generate a textarea section.

                        PARAM_NAME=QuestionId,VALUE=TextInserted
                        */-->
                        <label th:for="${question.id}" class="form-label" th:text="${question.name}"></label>
                        <input type="text" class="form-control" th:id="${question.id}" th:name="${question.id}"
                               th:value="${ temporaryAnswers? '' : '' }"
                               th:required="question.required">
                        <small th:if="${question.subtext != ''}" th:id="${question.id}" class="form-text text-muted" th:text="${question.subtext}"></small>
                    </div>
                    <div class="mb-3" th:case="'radio'">
                        <p class="display-6" th:text="${question.name}"></p>
                        <p class="display-7" th:text="${question.subtext}"></p>
                        <div class="form-check" th:each="radiobutton: ${question.getOptionGroup().getOptionChoices()}">
                            <!--/*
                            RADIO SECTION GENERATION
                            This section will generate a radio button with all the available option choices for the relative question.
                            When the user presses any button, all the data will be sent in a POST request against the QuestionnaireServlet in the form of

                            PARAM_NAME=OptionGroupId,VALUE=OptionChoiceId
                            */-->
                            <input class="form-check-input" type="radio" th:name="${question.getOptionGroup().id}" th:id="${radiobutton.id}" th:value="${radiobutton.id}" th:required="question.required">
                            <label class="form-check-label" th:for="${radiobutton.id}" th:text="${radiobutton.optionChoiceName}"></label>
                        </div>
                        <small th:if="${question.subtext != ''}" th:id="${question.id}" class="form-text text-muted" th:text="${question.subtext}"></small>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row-reverse bd-highlight">
                <button type="submit" class="btn btn-secondary btn-lg ms-3" th:if="${sectionState.t1 == sectionState.t2}" name="submit">Submit</button>
                <button type="submit" class="btn btn-secondary btn-lg ms-3" th:if="${sectionState.t1 == sectionState.t2}" name="cancel">Cancel</button>
                <button type="submit" class="btn btn-primary btn-lg ms-3" th:unless="${sectionState.t1 == sectionState.t2}" name="next">Next</button>
                <button type="submit" class="btn btn-secondary btn-lg ms-3" th:unless="${sectionState.t2 == 1}" name="previous">Previous</button>
            </div>
        </form>
    </div>
</body>
</html>