<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="container">
        <p class="display-1">Home</p>
        <p class="display-3">Welcome <span th:text="${username}"></span></p>
        <p class="display-5">Product of the day</p>
        <div class="row">
            <div class="admin">
                <a href="/CreateProductServlet" th:href="@{/CreateProductServlet}" class="btn btn-primary">Create a new Product</a>
                <!--a href="/InspectQuestionnaireServlet" th:href="@{/InspectQuestionnaireServlet}" class="btn btn-primary">Inspect Questionnaires</a-->
            </div>
        </div>
        <div class="row">
            <div class="card col-sm" style="width: 18rem;">
                <img class="card-img-top" th:src="${imageUrl}" alt="Product cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${productName}"></h5>
                    <p class="card-text" th:text="${productDescription}"></p>
                    <a href="/QuestionnaireServlet" th:href="@{/QuestionnaireServlet(product=${productId}, survey=${surveyId})}" class="btn btn-primary">Take the questionnaire</a>
                </div>
            </div>
            <div class="reviews col-sm">
                <h3>Reviews</h3>
                <div class="review" th:each="review: ${reviews}">
                    <h4 th:text="${review.getUserId().getUsername()}"></h4>
                    <p th:text="${review.getReviewText()}"></p>
                </div>
            </div>
        </div>
    </div>
    <br>
</body>
</html>