<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="container">
        <p class="display-1">Home</p>
        <p class="display-3">Welcome <span th:text="${username}"></span></p>
        <p class="display-5">Product of the day</p>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" th:src="${imageUrl}" alt="Product cap">
            <div class="card-body">
                <h5 class="card-title" th:text="${productName}"></h5>
                <p class="card-text" th:text="${productDescription}"></p>
                <!-- TODO change the href of this questionnaire button -->
                <a href="#" class="btn btn-primary">Take the questionnaire</a>
            </div>
        </div>
    </div>
    <br>
</body>
</html>